
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<div class="background">
    <div class="container">
        <h2>@ViewBag.Greeting</h2>
    </div>  
</div>          
    