


/******************************* GENERAL SETTINGS **************************/
body {
    margin: 0;
    font-family: Arial, Arial, Helvetica, sans-serif, sans-serif;
    font-size: 1.5em;    
}

.presentation {
    margin: 0 auto; 
    text-align: center; 
    padding-top: 25px;

}


/******************************* LANDING PAGE **************************/ 
.background {
    background-image: url('../images/party-unsplash.jpg');
    background-color: #ccc;
    height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    
}

.background-text {
    background-color: rgba(227, 215, 186, 0.7);
    text-align: center;
    padding: 45px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #302f2e;
    border-radius: 25px;
}



/******************************* FORM VALIDATION **************************/ 
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee; 
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}



/******************************* LINKS **************************/

btn btn-primary {
    text-decoration: none;
    color: white;
}


a:link, a:visited, a:hover, a:active, a:focus {
    font-size: 1.25em;
    background-color: #03c6fc;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


